.power{
  color: rgb(192, 107, 107);
}
h1{
font-family: Georgia, 'Times New Roman', Times, serif;
}
me{
  background-color:rgba(241, 107, 107, 0.644);
}
.test-box{
  border:2px;
  padding: 6px;
  margin: 20px;
  background-color: linear-gradient(rgb(75, 27, 27),lightpink);
}
body{
  background-color: lightpink;
}
.subtop{
font-style: var(#055160);
}
#grad {
  background-image: linear-gradient(rgb(201, 96, 96),lightpink);
}
h2{
  text-align: center;
}
h5{
  text-align: center;
}
p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
 
}